<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Karl Sander</string>
	<key>Builder Version</key>
	<string>11601.2.7.2</string>
	<key>CFBundleDisplayName</key>
	<string>humans.txt</string>
	<key>CFBundleIdentifier</key>
	<string>ws.kall.humans</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Height</key>
				<string></string>
				<key>Identifier</key>
				<string>popover</string>
				<key>Width</key>
				<string></string>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>toolbar_button</string>
				<key>Image</key>
				<string>icon_128x128.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>humans.txt</string>
				<key>Popover</key>
				<string>popover</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Display the humans.txt file of website if they provide it</string>
	<key>DeveloperIdentifier</key>
	<string>VG2GMCLCCR</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://kall.ws/humans-files/update.plist</string>
	<key>Website</key>
	<string>https://kall.ws/humans-txt-safari/</string>
</dict>
</plist>
